html, body {
  height: 100%;
  min-height: 100%;
}

body {
  padding-top: 4.5rem;
}

main {
  height: 100%;
}

#show{
  background-color: darkblue;
  color: white;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: fixed;
  right: 15px;
  bottom: 15px;
}

.list-container {
  flex-grow: 1;
  overflow-y: auto;
}

.add-note-container {
  display: none;
  box-shadow: 0px -2px 5px 0px rgba(136, 136, 136, 1);
  background: #fff;
  padding: 15px;
}
